<div id="bio" class="about">
  <div class="about-overlay">
    <div class="container">
      <h2 class="about-headline">KAELBER</h2>
      <hr class="about-hr" />

      <div class="row">
        <div class="col-md-4 col-sm-12 text-center">
          <img class="about-image" src="images/noah.jpg" alt="Noah Myers - Lead Guitarist and Vocals" />
          <div class="mt-2">Noah Myers<br/><span class="about-image-role">Lead Guitar / Vocals</span></div>
        </div>

        <div class="col-md-4 col-sm-12 text-center">
          <img class="about-image" src="images/tabor.jpg" alt="Tabor McLeod - Bassist" />
          <div class="mt-2">Tabor McLeod<br/><span class="about-image-role">Bass</span></div>
        </div>

        <div class="col-md-4 col-sm-12 text-center">
          <img class="about-image" src="images/matt.jpg" alt="Matt Reese - Drummer" />
          <div class="mt-2">Matt Reese<br/><span class="about-image-role">Drums</span></div>
        </div>
      </div>
      
      <hr class="about-hr" />
      
      <div class="row mt-2">
        <div class="col-sm-12">
          <p>
            On December 10th, 1999 at 7:30 PM in Santa Cruz, California, the bassist for Kaelber, Tabor McLeod, was born. Two hours later and 2,700 miles away in Morgantown, WV, lead guitarist/lead singer for Kaelber, Noah Myers, was born. Who would have guessed that 15 years later these two would meet and form the nucleus of Kaelber. During the summer of 2016, the addition of Matt Reese on drums was the final piece to Kaelber and sealed the band's hard driving, yet fluid sound.
          </p>

          <p>
            Kaelber is an up and coming band that has been building a steady buzz in Pittsburgh and the surrounding areas since their first show in 2015. Based out of Greensburg, PA, Kaelber combines an eclectic mix of psychedelic, alternative, progressive, and pop rock fused with punk, funk, and metal to create a truly unique sound. Kaelber's onstage energy is infectious as they showcase their original songs and play covers from influences such as the Red Hot Chili Peppers and Jimi Hendrix.
          </p>

          <p>
            In 2017, Kaelber released their first EP, which can be purchased on iTunes and Amazon. It can also be streamed on Spotify, Pandora, and Apple Music. In addition, Kaelber won the 2017 Rock the Palace competition at the Palace Theatre in Greensburg, PA, the 2017 Westmoreland County Battle of the Bands at Twin Lakes in Greensburg, PA, and the 2017 Moon Township Battle of the Bands at Moon Park near Pittsburgh, PA. Furthermore, two of Kaelber's original songs "Something German" and "Oasis" were selected by AT&T SportsNet - Pittsburgh for the Pittsburgh Pirates Friday Night Rocks rotation. As well, Kaelber was the feature band for the Stage Right production, Night of the Living Dead, the Musical and wrote the music to the opening song from the musical, titled "Night of the Living Dead!". Finally, Kaelber was selected as one of the bands for 91.3 WYEP's Reimagination, Volume 5 CD recording project.
          </p>

          <p>
            In 2018, Kaelber won the Winter Rock Challenge at Diesel in Pittsburgh, PA. 
          </p>
        </div>
      </div>

      <hr class="about-hr" />

      <div class="row">
        <div class="col-md-6 col-sm-12">
          <h5 class="about-header">Festivals:</h5>
          <ul class="about-list">
            <li>Deutschtown Music Festival</li>
            <li>Great Eastern Arts Festival</li>
            <li>Hempfield Township Community Days</li>
            <li>Millvale Music Festival</li>
            <li>Penn Township Fall Festival</li>
            <li>Rock All Night Tour (RANT)</li>
            <li>Westmoreland Arts & Heritage Festival</li>
            <li>WYEP's Summer Music Festival</li>
          </ul>
        </div>

        <div class="col-md-6 col-sm-12">
          <h5 class="about-header">Radio Coverage:</h5>
          <ul class="about-list">
            <li>105.9 The X</li>
            <li>91.3 WYEP</li>
            <li>Grass Roots on The Rock Station 97.7 FM</li>
            <li>91.7 FM WNJR</li>
            <li>Lurch's Lair @ Neue Regel Radio</li>
            <li>The Pennsylvania Rock Show</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
