<div class="footer">
  <div class="footer-overlay">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-sm-12">
        <div class="footer-text-div">
          <h2 class="footer-name">KAELBER</h2>
          <p class="tail">
            <a class="bookings-link" href="tel:7247717474">724-771-7474</a>
            <br />
            <a class="bookings-link" href="mailto:kaelberband@gmail.com">Bookings: kaelberband@gmail.com</a>
          </p>
        </div>
      </div>
      <div class="col-md-6 col-sm-12">
        <div class="footer-icon-div">
          <a class="footer-icon" href="https://www.facebook.com/kaelberband/" target="_blank">
            <img class="img-responsive" src="images/F_icon.svg" alt="Kaelber on Facebook" height="32"/>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="footer-credits-row">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <p>Photo credit: Savannah Butler / <a class="footer-credit-href" href="savvyshots.photography" target="_blank">Savvy Shots Photography</a></p>
        <p>Website: Gary A. Newsome / <a class="footer-credit-href" href="savvysoftworks.com" target="_blank">SavvySoftWorks</a></p>
      </div>
    </div>
  </div>
</div>
</div>
