<div class="top-icons">
  <a class="top-icon" href="https://open.spotify.com/album/0fVWOznWWNGUWnYdPNA9U4" target="_blank">
    <img class="img-responsive" src="images/spotify.svg" alt="Kaelber on Spotify" height="32"/>
  </a>
  <a class="top-icon" href="https://www.facebook.com/kaelberband/" target="_blank">
    <img class="img-responsive" src="images/F_icon.svg" alt="Kaelber on Facebook" height="32"/>
  </a>
  <a class="top-icon" href="https://www.youtube.com/channel/UCRcNm97emuGAZrQ2g94beVQ" target="_blank">
    <img class="img-responsive" src="images/youtube.svg" alt="Kaelber on YouTube" height="32"/>
  </a>
  <a class="top-icon" href="https://www.instagram.com/kaelberband/" target="_blank">
    <img class="img-responsive" src="images/instagram.svg" alt="Kaelber on Instagram" height="32"/>
  </a>
</div>

<div class="icons-container">
  <div class="icons">
    <a href="#top" class="waves-effect" data-toggle="tooltip" data-html="true" title="Return to top">
      <img class="icons-img icons-return" src="images/return.svg" alt="Return to top" height="40" />
    </a>
  </div>
</div>

<script>
  $(function () {
    $('[data-toggle="tooltip"]').tooltip()
  })
</script>
