<div class="presskit-media presskit-section">
  <div class="container">
    <h4>Media</h4>
    <div class="row">
      <div class="col-sm-12 col-md-6">
        <div class="presskit-media-icon-div">
          <a href="https://open.spotify.com/album/0fVWOznWWNGUWnYdPNA9U4" target="_blank"><img src="images/spotify.svg" class="presskit-media-icon" alt="Kaelber of Spotify" /><span>KAELBER on Spotify</span></a>
        </div>
      </div>
      <div class="col-sm-12 col-md-6">
        <div class="presskit-media-icon-div">
          <a href="https://www.youtube.com/channel/UCRcNm97emuGAZrQ2g94beVQ" target="_blank"><img src="images/youtube.svg" class="presskit-media-icon" alt="Kaelber of YouTube" /><span>KAELBER on YouTube</span></a>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <div class="presskit-media-iframe">
          <iframe width="560" height="315" src="https://www.youtube.com/embed/dz17dq9AzDg?rel=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <div class="presskit-media-other-youtube">
          <h4>Other YouTube Sightings</h4>
          <a href="https://www.youtube.com/watch?v=_skTJqJURjs" target="_blank">Kaelber at Stage AE - highlight film</a>
          <br />
          <a href="https://www.youtube.com/watch?v=yxGU2RTA9gU" target="_blank">Kaelber TGIS 2017</a></li>
          <br />
          <a href="https://www.youtube.com/watch?v=tnrPmjpQXPo&t" target="_blank">Kaelber Redbone</a></li>
          <br />
        </div>
      </div>
    </div>
  </div>
</div>
