<div class="presskit-notable presskit-section">
  <div class="container">
    <h4>Notable</h4>
    <div class="row">
      <div class="col-sm-12 col-md-6">
        <ul>
          <li>"Something German" featured on:</li>
            <ul>
              <li>105.9 the X</li>
              <li>91.7 FM WNJR:  W&J Student Radio</li>
              <li>The Pennsylvania Rock Show</li>
              <li>AT&T Sportsnet (Formally Root Sports) during the Friday night Pittsburgh Pirates Highlight Reel.</li>
              <li>Lurch's Lair Radio Show</li>
            </ul>
          <li>"Cardinal" featured on 91.3 WYEP</li>
          <li>Kaelber Feature/Interview on Grass Roots on The Rock Station 97.7 FM</li>
        </ul>
      </div>
      <div class="col-sm-12 col-md-6">
        <ul>
          <li>2017 Rock the Palace - 1st Place</li>
          <li>2017 Westmoreland County BOTB - 1st Place</li>
          <li>2017 Moon Township BOTB - 1st Place</li>
          <li>2017 Hempfield HS Talent Show - 1st Place</li>
          <li>2018 Winter Rock Challenge - Round 1 - 1st Place</li>
          <li>2018 Winter Rock Challenge - Finals - 1st Place</li>
        </ul>
      </div>
    </div>
  </div>
</div>
