<div class="presskit-bio presskit-section">
  <div class="container">
    <h4>Biography</h4>
    <p>
      Hailing from just Southeast of Pittsburgh, Kaelber is a trio that fuses the punch, snarl, and blazing roar of early 90's alt rock with the instrumental virtuosity and fluidity of progressive rock and metal, finished with an icing of the infectious melodic stylings of modern pop. Forming in the summer of 2015, Kaelber consists of lead vocalist/guitarist Noah Myers, bassist Tabor McLeod, and drummer Matt Reese. The band released a self-titled EP in the spring of 2017, which led to many features on various radio stations across Western Pennsylvania. Throughout the year, they accumulated a growing list of accomplishments, including numerous victories in band competitions, and even having their songs "Something German" and "Oasis" on a steady rotation for Pittsburgh Pirates broadcasts.
    </p>
  </div>
</div>
