<div class="presskit-social">
  <div class="container">
    <a href="https://open.spotify.com/album/0fVWOznWWNGUWnYdPNA9U4"><img src="images/spotify.svg" class="presskit-social-icon" alt="Kaelber on Spotify" /></a>
    <a href="https://www.facebook.com/kaelberband/" target="_blank"><img src="images/F_icon.svg" class="presskit-social-icon" alt="Kaelber on Facebook" /></a>
    <a href="https://www.youtube.com/channel/UCRcNm97emuGAZrQ2g94beVQ" target="_blank"><img src="images/youtube.svg" class="presskit-social-icon" alt="Kaelber on YouTube" /></a>
    <a href="https://www.instagram.com/kaelberband/" target="_blank"><img src="images/instagram.svg" class="presskit-social-icon" alt="Kaelber on Instagram" /></a>
  </div>
</div>
