<div class="presskit-press presskit-section">
  <div class="container">
    <h4>Press</h4>
    <div class="presskit-press-row">
      <div>
        <a href="https://triblive.com/aande/music/12235593-74/kaelber-wins-rock-the-palace-battle-of-bands" target="_blank">Kaelber Wins Rock the Palace Battle of Bands</a>
      </div>
      <div>
        “The week of the event, Special Reserve band broke up, so we invited Kaelber to bump up, and they ended up winning the whole thing,”
      </div>
    </div>

    <div class="presskit-press-row">
      <div>
        <a href="http://www.timesonline.com/entertainmentlife/20180412/milly-and-kaelber-to-rock-stage-ae-club" target="_blank">Milly and Kaelber to rock Stage AE club</a>
      </div>
      <div>
        "Kaelber is off to a good April, having last weekend warmed an audience for Jim Donovan & the Sun King Warriors’ album release show."
      </div>
    </div>

    <div class="presskit-press-row">
      <div>
        <a href="https://thepittsburgh100.com/entertainment/arts-music/2018/01/15/kaelber-young-musicians-making-sound-waves/12524" target="_blank">Kaelber: Young musicians making sound waves</a>
      </div>
      <div>
        "Local band Kaelber is rocking Pittsburgh and beyond"
      </div>
    </div>

    <div class="presskit-press-row">
      <div>
        <a href="https://hughshowsredux.blogspot.com/2017/09/firstlast-kaelber.html?m=1" target="_blank">First/Last - Kaelber</a>
      </div>
      <div>
        "They tore it up at the Deutschtown Music Festival this Summer and the sound tech from the venue they performed at, made it a point to let me know that these dudes were the best 'young' band he has seen in a long while... if ever! "
      </div>
    </div>
  </div>
</div>
